<%- include('common/header') -%>
<div class="row login">
    <h3 class="heading">LOGGED IN</h3><br>
    <div><h1>Welcome <%=Username%></h1></div>
   <br><br>
    <br>
    <a href="/logout"><button type="button" id="addUserBtn" class="btn btn-danger">logout</button></a><br>
    <br>
  </div>
<%- include('common/footer') -%>
