<%- include('common/header') -%>
<div class="row login">
    <h3 class="heading">LOGGED OUT</h3><br>
    <h1>GUD BYE</h1>
   <br><br>
    <br>
    <a href="/"><button type="button" id="addUserBtn" class="btn btn-danger">login</button></a><br>
    <br>

    <a href="/signup"><button type="button" id="addUserBtn" class="btn btn-danger">add user</button></a><br>
    <br>
  </div>
<%- include('common/footer') -%>
