<!DOCTYPE html>
<html>
    <head>
        <title> log</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrap/3.4.1/css/bootstrap.min.css">
        <style>
            .login{
                background-color: rgb(198, 207, 190);
                color: black;
                margin-top: 110px;
                margin-left: 210px;
                margin-right: 240px;
                border-radius: 12px;
                max-height: 400px;
                height: 350px;
            }
            .heading{
                text-align: center;
                color: gray;
            }
        </style>
    </head>
<body class="container">